<div class="container-fluid">
  <div class="dashdhc">
    <h1 class="text-center my-5">Organice su Viaje</h1>
  </div>
  <div class="container-fluid dashanc my-5">
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <a href="/art/a">
          <div class="dashbnc articulohc img1 d-flex flex-row align-items-center justify-content-center">
            <div class="imgdescriphc py-4">
              <h1 class="text-center text-uppercase">Informacion interesante sobre Cuba</h1>
            </div>
            <!--<img class="" src="../fancy/img/articulos/malecon-461-vista-comedor1.jpg">-->
          </div>
        </a>
      </div>
      <div class="col-lg-8 dashbnc col-sm-12">
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <a href="/art/b">
              <div class="dashcnc articulohc img2 d-flex flex-row align-items-center justify-content-center">
                <div class="imgdescriphc py-4">
                  <h1 class="text-center text-uppercase">Atractivos Turísticos</h1>
                </div>
                <!--<img src="../fancy/img/articulos/95_Habitación_3_Rodne_y_Laura.JPG">-->
              </div>
            </a>
          </div>
          <div class="col-lg-6 col-sm-12">
            <a href="/art/c">
              <div class="dashcnc articulohc img3 d-flex flex-row align-items-center justify-content-center">
                <div class="imgdescriphc py-4">
                  <h1 class="text-center text-uppercase">Conozca cada Provincia</h1>
                </div>
                <!--<img src="../fancy/img/articulos/vista-paseo-vista.jpg">-->
              </div>
            </a>
          </div>
        </div>
        <div class="sep"></div>
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <a href="/art/d">
              <div class="dashcnc articulohc img4 d-flex flex-row align-items-center justify-content-center">
                <div class="imgdescriphc py-4">
                  <h1 class="text-center text-uppercase">Consejos a su Llegada</h1>
                </div>
                <!--<img src="../fancy/img/articulos/ventanales-vedado-coedor.jpg">-->
              </div>
            </a>
          </div>
          <div class="col-lg-6 col-sm-12">
            <a href="/art/e">
              <div class="dashcnc articulohc img5 d-flex flex-row align-items-center justify-content-center">
                <div class="imgdescriphc py-4">
                  <h1 class="text-center text-uppercase">Información Util</h1>
                </div>
                <!--<img src="../fancy/img/articulos/ventanales-vedado-comedor1.JPG">-->
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>