<!-- main -->
<main role="main-home-wrapper" class="container">
  <div class="row">
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
      <article role="pge-title-content">
        <header>
          <h2><span><!--Aqui puedo poner texto--></span>Casas de Familias Cubanas</h2>
        </header>
        <p>Hosp&eacute;dese en casas particulares de familias cubanas y vive una experiencia &uacute;nica en Cuba. Consejos y ayuda.</p>      </article>
    </section>

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
      <figure class="effect-oscar">
        <img src="/images/home-images/casa-azul/12.jpg" alt="" class="img-responsive"/>
        <figcaption>
          <h2>Eliana Dedda<span> Identity</span></h2>
          <p>Personal Brand Identity.</p>
          <a href="works-details.html">View more</a>
        </figcaption>
      </figure>
    </section>

    <div class="clearfix"></div>

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
      <ul class="grid-lod effect-2" id="grid">
        <li>
          <figure class="effect-oscar">
            <img src="/images/home-images/casa-azul/1.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>Studio Thonik <span>Exhibition</span></h2>
              <p>Project for Thonik, design studio based in Amsterdam</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="effect-oscar">
            <img src="/images/home-images/casa-azul/2.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>A Brand <span>new Agency</span></h2>
              <p>Over 40,000 customers use our themes to power their</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="effect-oscar">
            <img src="/images/home-images/casa-azul/3.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>Studio Thonik <span>Exhibition</span></h2>
              <p>Project for Thonik, design studio based in Amsterdam</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="effect-oscar">
            <img src="/images/home-images/casa-azul/4.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>A Brand <span>new Agency</span></h2>
              <p>Over 40,000 customers use our themes to power their</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="effect-oscar">
            <img src="/images/home-images/casa-azul/5.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>Studio Thonik <span>Exhibition</span></h2>
              <p>Project for Thonik, design studio based in Amsterdam</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="effect-oscar">
            <img src="/images/home-images/casa-azul/6.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>A Brand <span>new Agency</span></h2>
              <p>Over 40,000 customers use our themes to power their</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="effect-oscar">
            <img src="/images/home-images/casa-azul/7.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>Studio Thonik <span>Exhibition</span></h2>
              <p>Project for Thonik, design studio based in Amsterdam</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="effect-oscar">
            <img src="/images/home-images/casa-azul/8.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>A Brand <span>new Agency</span></h2>
              <p>Over 40,000 customers use our themes to power their</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
      <ul class="grid-lod effect-2" id="grid">
        <li>
          <figure class="effect-oscar">
            <img src="/images/home-images/casa-azul/9.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>Anatome Milano <span>Galleria</span></h2>
              <p>Galerie Anatome based in Paris</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="effect-oscar">
            <img src="/images/home-images/casa-azul/10.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>A Brand <span>new Agency</span></h2>
              <p>Over 40,000 customers use our themes to power their</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="effect-oscar">
            <img src="images/home-images/casa-azul/2.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>Anatome Milano <span>Galleria</span></h2>
              <p>Galerie Anatome based in Paris</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="effect-oscar">
            <img src="/images/home-images/casa-azul/12.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>A Brand <span>new Agency</span></h2>
              <p>Over 40,000 customers use our themes to power their</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="effect-oscar">
            <img src="/images/home-images/casa-azul/1.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>Anatome Milano <span>Galleria</span></h2>
              <p>Galerie Anatome based in Paris</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="effect-oscar">
            <img src="/images/home-images/casa-azul/6.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>A Brand <span>new Agency</span></h2>
              <p>Over 40,000 customers use our themes to power their</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="effect-oscar">
            <img src="/images/home-images/casa-azul/8.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>Anatome Milano <span>Galleria</span></h2>
              <p>Galerie Anatome based in Paris</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="effect-oscar">
            <img src="/images/home-images/casa-azul/7.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>A Brand <span>new Agency</span></h2>
              <p>Over 40,000 customers use our themes to power their</p>
              <a href="works-details.html">View more</a>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>

    <div class="clearfix"></div>
  </div>
</main>

<!-- main -->