<footer role="footer">
  <!-- logo -->
  <h1>
    <a href="index.html" title="HC"><img src="images/Logo-HC.jpg" class="img-responsive" title="Hospedaje en Cuba" alt="HC"/></a><!-- -->
  </h1>
  <!-- logo -->

  <!-- nav -->
  <nav role="footer-nav">
    <ul>
      <li><a href="index.html" title="Work">Hospedaje en Cuba</a></li>
      <li><a href="about.html" title="About">Quines Somos</a></li>
      <li><a href="blog.html" title="Blog">Blog</a></li>
      <li><a href="contact.html" title="Contact">Contacto</a></li>
    </ul>
  </nav>
  <!-- nav -->

  <ul role="social-icons">
    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
  </ul>

  <p class="copy-right">&copy; 2015  avana LLC.. All rights Resved</p>
</footer>
<!-- footer -->
