<!--================Creative Feature Area =================-->
<div class="container-fluid creativeahc py-4">
  <!--¿Por qué rentar con Hospedaje en Cuba?-->
  <div class="container creativebhc">
    <div class="row">
      <div class="col-sm-6 col-lg-3 py-5 px-5" id="box_itemhc">
        <div>
          <h4>CONFIANZA</h4>
          <p>Certificamos que el 100% de las casas tienen permiso legal para brindar este servicio.</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 py-5 px-5" id="box_itemhc">
        <div>
          <h4>HOSPITALIDAD</h4>
          <p>¡Como en su casa!, lo atenderán de forma eficiente y personalizada.</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 py-5 px-5" id="box_itemhc">
        <div>
          <h4>PRIVACIDAD</h4>
          <p>Siéntase seguro de su espacio íntimo y reservado.</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 py-5 px-5">
        <div>
          <h4>OPCIONES</h4>
          <p>Ponemos a su disposición un catálogo de casas para su elección.</p>
        </div>
      </div>
    </div>
  </div>
  <!--¿Por qué rentar con Hospedaje en Cuba?-->
  <div></div>

  <!--Listado de Casas-->
  <div class="container-fluid">

    <div class="container-fluid py-5">
      <!--Categoria Hospedajes Recientes--->
      <h1 class="pt-5 pb-3">Hospedajes Recientes</h1>
      <div class="row">
        <div class="col-md-3">
          <div>
            <a href="#">
              <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/carballo-maydi-frente.jpg">
            </a>
          </div>
          <div class="latest_news_areahc d-flex flex-column justify-content-center px-5">
            <h4>Casa 1</h4>
            <p>Descripcion Casa 1</p>
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <a href="#">
              <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/haydee-fachada.jpg">
            </a>
          </div>
          <div class="latest_news_areahc d-flex flex-column justify-content-center px-5">
            <h4>Casa 2</h4>
            <p>Descripcion Casa 2</p>
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <a href="#">
              <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/maribel-habitacion-azul.jpg">
            </a>
          </div>
          <div class="latest_news_areahc d-flex flex-column justify-content-center px-5">
            <h4>Casa 3</h4>
            <p>Descripcion Casa 3</p>
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <a href="#">
              <img class="img-fluid" src="../fancy/img/temporadas-turismo-cuba.jpg">
            </a>
          </div>
        </div>

      </div>

      <!--Categoria Top Casas--->
      <h1 class="pt-5 pb-3">Top Casas</h1>
      <div class="row">
        <div class="col-md-2">
          <div>
            <a href="#">
              <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/carballo-maydi-frente.jpg">
            </a>
          </div>
          <div class="latest_news_areahc d-flex flex-column justify-content-center px-5">
            <h4>Casa 1</h4>
            <p>Descripcion Casa 1</p>
          </div>
        </div>
        <div class="col-md-2">
          <div>
            <a href="#">
              <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/haydee-fachada.jpg">
            </a>
          </div>
          <div class="latest_news_areahc d-flex flex-column justify-content-center px-5">
            <h4>Casa 2</h4>
            <p>Descripcion Casa 2</p>
          </div>
        </div>
        <div class="col-md-2">
          <div>
            <a href="#">
              <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/maribel-habitacion-azul.jpg">
            </a>
          </div>
          <div class="latest_news_areahc d-flex flex-column justify-content-center px-5">
            <h4>Casa 3</h4>
            <p>Descripcion Casa 3</p>
          </div>
        </div>
        <div class="col-md-2">
          <div>
            <a href="#">
              <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/la-ceiba-salacomedor_0.jpg">
            </a>
          </div>
          <div class="latest_news_areahc d-flex flex-column justify-content-center px-5">
            <h4>Casa 4</h4>
            <p>Descripcion Casa 4</p>
          </div>
        </div>
        <div class="col-md-2">
          <div>
            <a href="#">
              <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/la-ceiba-salacomedor_0.jpg">
            </a>
          </div>
          <div class="latest_news_areahc d-flex flex-column justify-content-center px-5">
            <h4>Casa 4</h4>
            <p>Descripcion Casa 4</p>
          </div>
        </div>
        <div class="col-md-2">
          <div>
            <a href="#">
              <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/la-ceiba-salacomedor_0.jpg">
            </a>
          </div>
          <div class="latest_news_areahc d-flex flex-column justify-content-center px-5">
            <h4>Casa 4</h4>
            <p>Descripcion Casa 4</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================ Inicio Banner =================--->
  <div class="bannerlistahc">
    <div class="bannercapahc">
      <div class="d-flex flex-column justify-content-center h-100 mw-100 text-white align-items-center">
        <!--<h1><b>Casas de Familias Cubanas</b></h1>-->
      </div>
    </div>
  </div>

  <!--================ End Banner =================-->
  <div class="container-fluid">
    <div class="container-fluid py-5">
      <!--Categoria Casas Recomendadas--->
      <h1 class="pt-5 pb-3">Casas Recomendadas</h1>
      <div class="row">
        <div class="col-md-2">
          <div>
            <a href="#">
              <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/carballo-maydi-frente.jpg">
            </a>
          </div>
          <div class="latest_news_areahc d-flex flex-column justify-content-center px-5">
            <h4>Casa 1</h4>
            <p>Descripcion Casa 1</p>
          </div>
        </div>
        <div class="col-md-2">
          <div>
            <a href="#">
              <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/haydee-fachada.jpg">
            </a>
          </div>
          <div class="latest_news_areahc d-flex flex-column justify-content-center px-5">
            <h4>Casa 2</h4>
            <p>Descripcion Casa 2</p>
          </div>
        </div>
        <div class="col-md-2">
          <div>
            <a href="#">
              <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/maribel-habitacion-azul.jpg">
            </a>
          </div>
          <div class="latest_news_areahc d-flex flex-column justify-content-center px-5">
            <h4>Casa 3</h4>
            <p>Descripcion Casa 3</p>
          </div>
        </div>
        <div class="col-md-2">
          <div>
            <a href="#">
              <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/la-ceiba-salacomedor_0.jpg">
            </a>
          </div>
          <div class="latest_news_areahc d-flex flex-column justify-content-center px-5">
            <h4>Casa 4</h4>
            <p>Descripcion Casa 4</p>
          </div>
        </div>
        <div class="col-md-2">
          <div>
            <a href="#">
              <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/la-ceiba-salacomedor_0.jpg">
            </a>
          </div>
          <div class="latest_news_areahc d-flex flex-column justify-content-center px-5">
            <h4>Casa 4</h4>
            <p>Descripcion Casa 4</p>
          </div>
        </div>
        <div class="col-md-2">
          <div>
            <a href="#">
              <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/la-ceiba-salacomedor_0.jpg">
            </a>
          </div>
          <div class="latest_news_areahc d-flex flex-column justify-content-center px-5">
            <h4>Casa 4</h4>
            <p>Descripcion Casa 4</p>
          </div>
        </div>
      </div>

      <!--Categoria Casas Mas Visitadas--->
      <h1 class="pt-5 pb-3">Casas Mas Visitadas</h1>
      <div class="row">
        <div class="col-md-2">
          <div>
            <a href="#">
              <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/carballo-maydi-frente.jpg">
            </a>
          </div>
          <div class="latest_news_areahc d-flex flex-column justify-content-center px-5">
            <h4>Casa 1</h4>
            <p>Descripcion Casa 1</p>
          </div>
        </div>
        <div class="col-md-2">
          <div>
            <a href="#">
              <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/haydee-fachada.jpg">
            </a>
          </div>
          <div class="latest_news_areahc d-flex flex-column justify-content-center px-5">
            <h4>Casa 2</h4>
            <p>Descripcion Casa 2</p>
          </div>
        </div>
        <div class="col-md-2">
          <div>
            <a href="#">
              <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/maribel-habitacion-azul.jpg">
            </a>
          </div>
          <div class="latest_news_areahc d-flex flex-column justify-content-center px-5">
            <h4>Casa 3</h4>
            <p>Descripcion Casa 3</p>
          </div>
        </div>
        <div class="col-md-2">
          <div>
            <a href="#">
              <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/la-ceiba-salacomedor_0.jpg">
            </a>
          </div>
          <div class="latest_news_areahc d-flex flex-column justify-content-center px-5">
            <h4>Casa 4</h4>
            <p>Descripcion Casa 4</p>
          </div>
        </div>
        <div class="col-md-2">
          <div>
            <a href="#">
              <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/la-ceiba-salacomedor_0.jpg">
            </a>
          </div>
          <div class="latest_news_areahc d-flex flex-column justify-content-center px-5">
            <h4>Casa 4</h4>
            <p>Descripcion Casa 4</p>
          </div>
        </div>
        <div class="col-md-2">
          <div>
            <a href="#">
              <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/la-ceiba-salacomedor_0.jpg">
            </a>
          </div>
          <div class="latest_news_areahc d-flex flex-column justify-content-center px-5">
            <h4>Casa 4</h4>
            <p>Descripcion Casa 4</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Listado de Casas-->
</div>
<!--================End Creative Feature Area =================-->


<!--<div class="row">

  <section class="col-xs-12 col-sm-6 col-md-6 col-lg-7 ">
    <article role="pge-title-content">
      <header>
        <h2><span>Casas de Familias Cubanas</span></h2>
      </header>
      <p>Hosp&eacute;dese en casas particulares de familias cubanas y vive una experiencia &uacute;nica en Cuba. Consejos y ayuda.</p>
    </article>
  </section>

  <section class="col-xs-12 col-sm-6 col-md-6 col-lg-5 grid">
    <figure class="effect-oscar">
      <img src="/images/home-images/casa-azul/12.jpg" alt="" class="img-responsive"/>
      <figcaption>
        <h2>Eliana Dedda<span> Identity</span></h2>
        <p>Personal Brand Identity.</p>
        <a href="works-details.html">View more</a>
      </figcaption>
    </figure>
  </section>

  <div class="clearfix"></div>

  <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
    <ul class="grid-lod effect-2" id="grid">
      <li *ngFor="let casa of casas[0]"><app-hospedaje [casa] = "casa"></app-hospedaje>{{i}}</li>
    </ul>
  </section>

  <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
    <ul class="grid-lod effect-2" id="grid">
      <li *ngFor="let casa of casas[1]"><app-hospedaje [casa] = "casa"></app-hospedaje>{{i}}</li>
    </ul>
  </section>

  <div class="clearfix"></div>
</div>-->
