<!--<figure class="effect-oscar">
  <img src="{{casa.imagenes[0].img_link}}" alt="" class="img-responsive"/>
  <figcaption>
    <h2>{{casa.id_casa}} <span>{{casa.tipo_casa}}</span></h2>
    <p>Capacidad: {{casa.capacidad}}</p>
    <p>{{casa.direcc}}</p>
    <a href="works-details.html">View more</a>
  </figcaption>
</figure>-->
<div class="container-fluid capacasa" xmlns="http://www.w3.org/1999/html">
    <div class="container namecasa articulosheadhc py-4">
        <h1 class="">Casa Oscar</h1>
        <p class="mb-0">Calle Heredia No. 201 E/ San Pedro Y San Félix., Holguín 90400, Holguín (Cuba)</p>
    </div>
    <div class="container casa px-0">

        <div class="container-fluid">
            <div class="row envoltorio">
                <div class="col-md-8 px-0 areaa">
                    <div class="container-fluid px-0 vista">
                        <div class="container containerhc d-flex justify-content-center px-0">
                            <img class="img-fluid w-100" src="../fancy/img/casas/vista-paseo-vista.jpg">
                            <!--<h1 class="encabezadossechc text-white">La moneda en Cuba</h1>-->
                        </div>
                        <div class="carrete d-flex flex-row pt-2">
                            <div class="item_carrete">
                                <a href="#">
                                    <div class="imagencarrete1 h-100"></div>
                                    <!--<img class="img-fluid" src="../fancy/img/casas/vista-paseo-room2.2.jpg">-->
                                </a>
                            </div>
                            <div class="item_carrete">
                                <a href="#">
                                    <div class="imagencarrete2 h-100"></div>
                                    <!--<img class="img-fluid" src="../fancy/img/casas/ventanales-vedado-coedor.jpg">-->
                                </a>
                            </div>
                            <div class="item_carrete">
                                <a href="#" class="">
                                    <div class="imagencarrete3 h-100"></div>
                                    <!--<img class="img-fluid" src="../fancy/img/casas/ventanales-vedado-comedor1.jpg">-->
                                </a>
                            </div>
                            <div class="item_carrete">
                                <a href="#">
                                    <div class="imagencarrete4 h-100"></div>
                                    <!--<img class="img-fluid" src="../fancy/img/casas/95 Habitación 3 Rodne y Laura.jpg">-->
                                </a>
                            </div>
                        </div>
                        <div class="bg-white">
                            <ul class="d-flex flex-row justify-content-center descripcion mb-0 py-3">
                                <li class="nav-link d-flex flex-column align-items-center">
                                    <span class="h1">5 <i class="fa fa-users" aria-hidden="true"></i></span>
                                    <span class="etiqueta">Huespedes</span>
                                </li>
                                <li class="nav-link d-flex flex-column align-items-center">
                                    <span class="h1">2 <i class="fa fa-home" aria-hidden="true"></i></span>
                                    <span class="etiqueta">Habitaciones</span>
                                </li>
                                <li class="nav-link d-flex flex-column align-items-center">
                                    <span class="h1">3 <i class="fa fa-bed" aria-hidden="true"></i></span>
                                    <span class="etiqueta">Camas</span>
                                </li>
                                <li class="nav-link d-flex flex-column align-items-center">
                                    <span class="h1">1 <i class="fa fa-bath" aria-hidden="true"></i></span>
                                    <span class="etiqueta">Baños</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="container-fluid creativeahc py-3 text-justify">
                        <div class="containerhc">
                            <div class="contenthc">
                                <p>Casa Oscar es una casa particular de la ciudad de Holguín, Cuba, inaugurado el 22 de octubre de 1999, destinado al alojamiento de dos habitaciones.</p>
                                <p>La casa está ubicada en la Carretera Central, principal vía de acceso a la ciudad, dentro de una notable zona comercial, al lado del Centro Comercial “La Central” y bordeada por sitios de interés como: Plaza La Central (WIFI), Parque Quijote (WIFI), Cajero Automático, Centro de Negocios (Sala de navegación de internet, Agencia COPA Airline, Trimagen), Agencia Renta Car Gaviota Vía, entre otros. A solo 15 minutos de la Estación de Bus Viazul y del centro histórico de la ciudad y de muy fácil acceso desde y hacia el aeropuerto internacional y de las principales ciudades del país.</p>
                                <div id="faq2" class="collapse">
                                    <p>La Casa, de estilo Art Decó, con una superficie de 180 m2, fue construida en segunda planta en el año 1937, con paredes de hormigón, cubierta de vigas de madera y portablas; está integrado de amplios espacios ventilados y bien decorados, marquetería de madera y cristal, con grandes ventanas abatibles de apertura exterior y hermosa vista exterior, su estructura arquitectónica de puntal alto, garantiza una fresca temperatura en su interior.</p>
                                    <p>El alojamiento incluye 2 habitaciones con baños privados, terraza al frente, portal, sala, pasillo, comedor, azotea y jardín y oferta de servicios de desayunos, almuerzos y cenas que se sirven en el comedor de la casa.</p>
                                    <p>Las habitaciones, espaciosas y confortables dispuestas de camas con colchones de excelente elasticidad y protectores de tela impermeable, ropa de cama pulcra y de calidad, almohadas con relleno sintético y frazadas antialérgicas; mobiliario de madera de diseño clásico, compuesto de mesa de tocador amplio con espejo y banqueta acolchonada, butaca, mesas de noche amplísimas, mueble para mini bar y portamaletas, con agradable iluminación y esmerada limpieza. Cuartos de baños muy bien equipados con agua presurizada y calentador central.</p>
                                    <p>Las habitaciones con una reciente decoración fresca y refinada en atractiva combinación con la estructura arquitectónica del inmueble.</p>
                                </div>
                                <a href="#faq2" data-toggle="collapse"><span>Leer más</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid bg-white px-0">
                        <div class="container d-flex flex-column px-0">
                            <div class="masinfo">
                                <div class="rotulo">
                                    <span class="h3  text-uppercase">Servicios</span>
                                </div>
                                <div class="details d-flex flex-row justify-content-center">
                                    <i class="fa fa-coffee nav-link" aria-hidden="true"></i>
                                    <i class="fa fa nav-link" aria-hidden="true"></i>
                                    <i class="fa fa-map-signs nav-link" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="masinfo">
                                <div class="rotulo">
                                    <span class="h3 text-uppercase">Comodidades</span>
                                </div>
                                <div class="details d-flex flex-row justify-content-center">
                                    <i class="fa fa-tv nav-link" aria-hidden="true"></i>
                                    <i class="fa fa-snowflake-o nav-link" aria-hidden="true"></i>
                                    <i class="fa fa-wifi nav-link" aria-hidden="true"></i>
                                    <i class="fa fa-key nav-link" aria-hidden="true"></i>
                                    <i class="fa fa-warehouse nav-link" aria-hidden="true"></i>
                                    <i class="fa fa-wheelchair nav-link" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 bg-white areab pl-4 py-3">
                    <div class="precio card">
                        <div class="card-body d-flex flex-column align-items-center">
                            <span class="obs">Habitación por noche</span>
                            <span class="obs">desde</span>
                            <div>
                                <span class="display-4 align-middle">41,00</span><span class="h2"> USD</span>
                            </div>
                        </div>
                    </div>
                    <div class="formreserva my-5">
                        <!--<form class="form-group">
                            <a class="btn btn-primary">Reservar</a>
                        </form>-->

                        <!-- Book form modal
                        <div class="modal fade modal-casa-form bbinn-modal" id="modal_booking" tabindex="-1" role="dialog" aria-labelledby="bookingModalLabel">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">

                                    <div role="form" class="wpcf7" id="wpcf7-f83921-p62010-o2" lang="en-US" dir="ltr">


                                    </div>
                                </div>
                            </div>
                        </div>-->

                        <form id="form_book" action="/casa-particular/vinales-valley/casa-villa-emilio-cesar-los-dulceros/#wpcf7-f83921-p62010-o2" method="post" class="wpcf7-form" novalidate="novalidate">
                            <!--<div style="display: none;"> <input type="hidden" name="_wpcf7" value="83921" />
                                <input type="hidden" name="_wpcf7_version" value="4.9.1" />
                                <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f83921-p62010-o2" />
                                <input type="hidden" name="_wpcf7_container_post" value="62010" />
                            </div>-->
                            <div class="">
                                <!--<p class="wpcf-element" style="display: none;">
                                    <b style="min-width: 125px;">Casa Particular (*)</b>
                                    <span class="wpcf7-form-control-wrap casa_particular">
                                                        <input type="text" name="casa_particular" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required casa-particular" id="1" aria-required="true" aria-invalid="false" />
                                                    </span>
                                    <span class="wpcf7-form-control-wrap booking_type_small">
                                                        <input type="text" name="booking_type_small" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" id="booking_type_small" aria-required="true" aria-invalid="false" />
                                                    </span>
                                    <input type="hidden" id="booking_estbl_id" name="establishID"/>
                                </p>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="2">Full Name (*)</label>
                                            <span class="wpcf7-form-control-wrap book_name">
                                                                <input type="text" name="book_name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" id="2" aria-required="true" aria-invalid="false" />
                                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group">
                                            <label for="3">Country (*)</label>
                                            <select name="book_country" id="3" class="country-list form-control"></select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group">
                                            <label for="4">Email (*)</label>
                                            <span class="wpcf7-form-control-wrap book_email">
                                                                <input type="email" name="book_email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" id="4" aria-required="true" aria-invalid="false" />
                                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group">
                                            <label for="5">Phone</label>
                                            <span class="wpcf7-form-control-wrap book_phone">
                                                                <input type="tel" name="book_phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel phone form-control" id="5" aria-invalid="false" placeholder="+ Country Code  + Area code" />
                                                            </span>
                                            <i class="description">
                                                <i class="fa fa-info-circle"></i>
                                                Only if your mobile works in Cuba</i>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="headcalendar"><span>Fechas</span></div>
                                        <div class="form-group">
                                            <div class="input-daterange input-group fechasap" id="datepicker">
                                                <input type="text" placeholder="Arribo" class="input-sm form-control" name="start" />
                                                <span class="input-group-addon"><i class="fa fa-long-arrow-right"></i></span>
                                                <input type="text" placeholder="Partida" class="input-sm form-control" name="end" />
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table mb-0 align-text-bottom">
                                            <thead>
                                                <tr>
                                                    <th>Habitaciones</th>
                                                    <th>Adultos</th>
                                                    <th>Niños</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Hab. 1</td>
                                                    <td>
                                                        <div class="form-group mb-0">
                                                            <!--<select class="form-control">
                                                                <option>0</option>
                                                                <option>1</option>
                                                                <option>2</option>
                                                            </select>-->
                                                            <input type="number" name="book_adults" value="0" [min]="0" [max]="2" class="form-control" aria-required="true" aria-invalid="false" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group mb-0">
                                                            <!--<select class="form-control">
                                                                <option>0</option>
                                                                <option>1</option>
                                                                <option>2</option>
                                                            </select>-->
                                                            <input type="number" name="book_adults" value="0" [min]="0" [max]="2" class="form-control" aria-required="true" aria-invalid="false" />
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Hab. 2</td>
                                                    <td>
                                                        <div class="form-group mb-0">
                                                            <!--<select class="form-control">
                                                                <option>0</option>
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                            </select>-->
                                                            <input type="number" name="book_adults" value="0" [min]="0" [max]="3" class="form-control" aria-required="true" aria-invalid="false" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group mb-0">
                                                            <!--<select class="form-control">
                                                                <option>0</option>
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                            </select>-->
                                                            <input type="number" name="book_adults" value="0" [min]="0" [max]="3" class="form-control" aria-required="true" aria-invalid="false" />
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--<div class="row">
                                    <div class="col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="6">Check in (*)</label>
                                            <span class="wpcf7-form-control-wrap book_date">
                                                <input type="text" name="book_date" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required check_in date-picker form-control" id="6" readonly="readonly" aria-required="true" aria-invalid="false" />
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="7">Nights (*)</label>
                                            <span class="wpcf7-form-control-wrap book_night">
                                                                <input type="number" name="book_night" value="" class="wpcf7-form-control wpcf7-number wpcf7-validates-as-required wpcf7-validates-as-number night form-control" id="7" min="1" aria-required="true" aria-invalid="false" />
                                                            </span>
                                        </div>
                                    </div>-->
                                    <!--<div class="col-sm-12 col-md-8">
                                        <div class="pax">-->
                                            <!--<h4 class="text-center hidden-md hidden-lg">PAX (*)</h4>-->
                                            <!--<div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="form-group">
                                                        <label for="12">Adultos</label>
                                                        <span class="wpcf7-form-control-wrap book_adults">
                                                                        <input type="number" name="book_adults" value="0" class="wpcf7-form-control wpcf7-number wpcf7-validates-as-required wpcf7-validates-as-number pax_adults form-control" id="12" min="1" aria-required="true" aria-invalid="false" />
                                                                    </span>
                                                        <!--<i class="description">
                                                            <i class="fa fa-info-circle"></i>
                                                            Max per room depends on Casa Rules
                                                        </i>-->
                                                    <!--</div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="form-group">
                                                        <label for="13">Niños</label>
                                                        <span class="wpcf7-form-control-wrap book_children">
                                                                        <input type="number" name="book_children" value="0" class="wpcf7-form-control wpcf7-number wpcf7-validates-as-required wpcf7-validates-as-number pax_childs form-control" id="13" min="0" aria-required="true" aria-invalid="false" />
                                                                    </span>
                                                        <!--<i class="description">
                                                            <i class="fa fa-info-circle"></i>
                                                            <b>Minor 15 yrs</b>, in room with Adults
                                                        </i>-->
                                                    <!--</div>
                                                </div>
                                            </div>
                                            <!--<h4 class="text-center hidden-xs hidden-sm">PAX (*)</h4>-->
                                        <!--</div>
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="8">Habitaciones</label>
                                            <div class="rooms-wrapper">
                                                                <span class="wpcf7-form-control-wrap book_room">
                                                                    <input type="number" name="book_room" value="" class="wpcf7-form-control wpcf7-number wpcf7-validates-as-required wpcf7-validates-as-number room_count form-control" id="8" aria-required="true" aria-invalid="false" />
                                                                </span>
                                                <div id="room_types_holder" data-prototype="&lt;select style=&quot;margin-bottom:4px;&quot; name=&quot;book_room_type[]&quot; id=&quot;book_room_type&quot; required class=&quot;form-control room_type&quot;&gt;
&lt;option value=&quot;&quot;&gt;&lt;/option&gt;
&lt;option value=&quot;Double&quot;&gt;Double&lt;/option&gt;
&lt;option value=&quot;Twin&quot;&gt;Twin&lt;/option&gt;
&lt;option value=&quot;Tripple&quot;&gt;Tripple&lt;/option&gt;
&lt;option value=&quot;Single&quot;&gt;Single&lt;/option&gt;
&lt;option value=&quot;Any&quot;&gt;Any&lt;/option&gt;
&lt;/select&gt;">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <!--<div class="row">
                                    <div class="col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="9">Arriving in</label>
                                            <span class="wpcf7-form-control-wrap book_arriving">
                                                                <select name="book_arriving" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required arriving form-control" id="9" aria-required="true" aria-invalid="false">
                                                                    <option value="None">None</option>
                                                                    <option value="Car">Car</option>
                                                                    <option value="Viazul Bus">Viazul Bus</option>
                                                                    <option value="Transtur Bus">Transtur Bus</option>
                                                                    <option value="Taxi">Taxi</option>
                                                                    <option value="Bikes">Bikes</option>
                                                                    <option value="Other">Other</option>
                                                                </select>
                                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="10">Arriving from</label>
                                            <span class="wpcf7-form-control-wrap book_from">
                                                                <select name="book_from" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required from_arrinv form-control" id="10" aria-required="true" aria-invalid="false">
                                                                    <option value="None">None</option>
                                                                    <option value="Vinales">Vinales</option>
                                                                    <option value="Soroa">Soroa</option>
                                                                    <option value="Esperanza">Esperanza</option>
                                                                    <option value="Ma.La Gorda">Ma.La Gorda</option>
                                                                    <option value="Levisa">Levisa</option>
                                                                    <option value="Havana">Havana</option>
                                                                    <option value="Matanzas">Matanzas</option>
                                                                    <option value="Varadero">Varadero</option>
                                                                    <option value="P. Larga">P. Larga</option>
                                                                    <option value="Cienfuegos">Cienfuegos</option>
                                                                    <option value="S. Spiritus">S. Spiritus</option>
                                                                    <option value="Trinidad">Trinidad</option>
                                                                    <option value="La Boca">La Boca</option>
                                                                    <option value="C. Avila">C. Avila</option>
                                                                    <option value="Moron">Moron</option>
                                                                    <option value="C. Coco">C. Coco</option>
                                                                    <option value="Camaguey">Camaguey</option>
                                                                    <option value="Nuevitas">Nuevitas</option>
                                                                    <option value="Las Tunas">Las Tunas</option>
                                                                    <option value="Holguin">Holguin</option>
                                                                    <option value="Guardalavaca">Guardalavaca</option>
                                                                    <option value="Bayamo">Bayamo</option>
                                                                    <option value="Manzanillo">Manzanillo</option>
                                                                    <option value="Santiago">Santiago</option>
                                                                    <option value="Guantamano">Guantamano</option>
                                                                    <option value="Baracoa">Baracoa</option>
                                                                    <option value="---------">---------</option>
                                                                    <option value="Airport">Airport</option>
                                                                    <option value="Other">Other</option>
                                                                </select>
                                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label for="11">Estimated time of arrival</label>
                                            <span class="wpcf7-form-control-wrap book_time">
                                                                <select name="book_time" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required time_arrinv form-control" id="11" aria-required="true" aria-invalid="false">
                                                                    <option value="12: 00h">12: 00h</option>
                                                                    <option value="13: 00h">13: 00h</option>
                                                                    <option value="14: 00h">14: 00h</option>
                                                                    <option value="15: 00h">15: 00h</option>
                                                                    <option value="16: 00h">16: 00h</option>
                                                                    <option value="17: 00h">17: 00h</option>
                                                                    <option value="18: 00h">18: 00h</option>
                                                                    <option value="19: 00h">19: 00h</option>
                                                                    <option value="20: 00h">20: 00h</option>
                                                                    <option value="21: 00h">21: 00h</option>
                                                                    <option value="22: 00h">22: 00h</option>
                                                                    <option value="23: 00h">23: 00h</option>
                                                                    <option value="00: 00h">00: 00h</option>
                                                                    <option value="1: 00h">1: 00h</option>
                                                                    <option value="2: 00h">2: 00h</option>
                                                                    <option value="3: 00h">3: 00h</option>
                                                                    <option value="4: 00h">4: 00h</option>
                                                                    <option value="5: 00h">5: 00h</option>
                                                                    <option value="6: 00h">6: 00h</option>
                                                                    <option value="7: 00h">7: 00h</option>
                                                                    <option value="8: 00h">8: 00h</option>
                                                                    <option value="9: 00h">9: 00h</option>
                                                                    <option value="10: 00h">10: 00h</option>
                                                                    <option value="11: 00h">11: 00h</option>
                                                                </select>
                                                            </span>
                                        </div>
                                    </div>
                                </div>-->
                                <!--<div class="row">
                                   div class="col-sm-6 col-md-4">
                                       <div class="form-group">
                                           <label for="15">Return Flight Date (*)</label>
                                           <span class="wpcf7-form-control-wrap book_departure">
                                                               <input type="text" name="book_departure" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required departure date-picker form-control" id="15" readonly="readonly" aria-required="true" aria-invalid="false" />
                                                           </span>
                                           <i class = "description">
                                               <i class="fa fa-info-circle"></i>
                                               Departure date from Cuba, day you fly back home</i>
                                       </div>
                                   </div>

                                </div>-->
                                <!--<div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="16">Comments</label>
                                            <span class="wpcf7-form-control-wrap book_comments">
                                                                <textarea name="book_comments" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea comments form-control" id="16" aria-invalid="false"></textarea>
                                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <select multiple class="form-control" name="optional_casas[]" id="optional_casas"></select>
                                        <span class="wpcf7-form-control-wrap optional_casas_raw">
                                                            <input type="text" name="optional_casas_raw" value="" size="40" class="wpcf7-form-control wpcf7-text hidden" id="optional_casas_raw" aria-invalid="false" />
                                                        </span>
                                    </div>
                                    <div class="col-sm-12">
                                        <p class="description" style="margin-top: 5px;">
                                            Include here other Casas
                                            <span id="location_placeholder"></span>
                                            in case the chosen one is overbooked. TIP: Add Casas listed in Last visited Pages
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                                            <span class="wpcf7-form-control-wrap accept-this">
                                                                <input type="checkbox" name="accept-this" value="1" class="wpcf7-form-control wpcf7-acceptance" id="accept_terms" aria-invalid="false" />
                                                            </span>
                                            <label for="accept_terms">
                                                I agree with <a target="_blank" href="http://www.bbinnvinales.com/terms-of-services/">Terms of Services</a>.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 hidden">
                                        <div class="form-group">
                                                            <span class="wpcf7-form-control-wrap booking_type">
                                                                <input type="text" name="booking_type" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" id="book_type" aria-required="true" aria-invalid="false" />
                                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="wpcf7-form-control-wrap">
                                            <div data-sitekey="6LeH8hwUAAAAANzHvTr8HnPwuoDPmgzD5Oz7eYZK" class="wpcf7-form-control g-recaptcha wpcf7-recaptcha"></div>
                                            <noscript>
                                                <div style="width: 302px; height: 422px;">
                                                    <div style="width: 302px; height: 422px; position: relative;">
                                                        <div style="width: 302px; height: 422px; position: absolute;">
                                                            <iframe src="https://www.google.com/recaptcha/api/fallback?k=6LeH8hwUAAAAANzHvTr8HnPwuoDPmgzD5Oz7eYZK" frameborder="0" scrolling="no" style="width: 302px; height:422px; border-style: none;"> </iframe>
                                                        </div>
                                                        <div style="width: 300px; height: 60px; border-style: none; bottom: 12px; left: 25px; margin: 0px; padding: 0px; right: 25px; background: #f9f9f9; border: 1px solid #c1c1c1; border-radius: 3px;">
                                                            <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </noscript>
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden hidden_elements">
                                                    <span class="wpcf7-form-control-wrap childs_age">
                                                        <textarea name="childs_age" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea>
                                                    </span>
                                    <span class="wpcf7-form-control-wrap casa_address">
                                                        <input type="text" name="casa_address" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" />
                                                    </span>
                                    <span class="wpcf7-form-control-wrap casa_phone">
                                                        <input type="text" name="casa_phone" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" />
                                                    </span>
                                    <span class="wpcf7-form-control-wrap casa_best_prices">
                                                        <input type="text" name="casa_best_prices" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" />
                                                    </span>
                                    <span class="wpcf7-form-control-wrap casa_extra_services">
                                                        <input type="text" name="casa_extra_services" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" />
                                                    </span>
                                    <span class="wpcf7-form-control-wrap casa_short_description">
                                                        <textarea name="casa_short_description" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea>
                                                    </span>
                                    <span class="wpcf7-form-control-wrap casa_link">
                                                        <input type="text" name="casa_link" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" />
                                                    </span>
                                    <span class="wpcf7-form-control-wrap casa_map_link">
                                                        <input type="text" name="casa_map_link" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" />
                                                    </span>
                                </div>-->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table">
                                        <tr>
                                            <th colspan="2" class="pt-4">Prepago Online</th>
                                        </tr>
                                        <tr>
                                            <td>Servicio al Cliente</td>
                                            <td class="text-right">$16,40</td>
                                        </tr>
                                        <tr>
                                            <th colspan="2">Pago en Hospedaje</th>
                                        </tr>
                                        <tr>
                                            <td>$41 x 2 hab x 2 noches</td>
                                            <td class="text-right">$164,00</td>
                                        </tr>
                                        <tfoot>
                                            <tr>
                                                <th>Precio Total</th>
                                                <th class="text-right">$180.40</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="">
                                        <button type="submit" class="btn btn-success btn-lg w-100 py-3">
                                            <i class="fa fa-check"></i>
                                            Reservar
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="wpcf7-response-output wpcf7-display-none"></div>-->
                        </form>
                        <!-- End book form modal -->
                    </div>

                    <!--INICIO panel lista casas similares-->
                    <div class="panel-casas container-fluid px-0  pb-4">
                        <div class="pl-5 bg-danger">
                            <h2 class="text-white">Casas similares a esta</h2>
                        </div>
                        <div class="container-fluid mx-0 px-0">
                            <!--INICIO casa de casas similares-->
                            <div class="item w-100 row mx-0 sugerencia">
                                <div class="col-md-5 px-0">
                                    <a href="#" style="display: block ">
                                        <img class="img-fluid" src="../fancy/img/casas/2-hermanos-afura.jpg" alt="">
                                    </a>
                                </div>
                                <div class="col-md-7 pr-0">
                                    <div class="d-flex flex-column h-100 justify-content-around">
                                        <span class="h2">
                                            <a href="#" style="color: #212529">Villa Aleyda</a>
                                        </span>
                                        <div class="d-flex flex-row justify-content-between">
                                            <span class="d-flex align-items-center font-weight-bold">
                                                <div>
                                                    <i class="fa fa-map-marker mr-1"></i>
                                                    <span class="">Trinidad</span>
                                                </div>
                                            </span>
                                            <div class="d-flex flex-column align-items-end" style="color: #28a745">
                                                <span class="obs h5 mb-0">desde</span>
                                                <div class="">
                                                    <span class="align-middle h1">41,00</span>
                                                    <span class="h5"> USD</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--FIN casa de casas similares-->
                            <div class="item w-100 row mx-0 sugerencia">
                                <div class="col-md-5 px-0">
                                    <a href="#" style="display: block ">
                                        <img class="img-fluid" src="../fancy/img/casas/maribel-habitacion-azul.jpg" alt="">
                                    </a>
                                </div>
                                <div class="col-md-7 pr-0">
                                    <div class="d-flex flex-column h-100 justify-content-around">
                                        <span class="h2">
                                            <a href="#" style="color: #212529">Villa Aleyda</a>
                                        </span>
                                        <div class="d-flex flex-row justify-content-between">
                                            <span class="d-flex align-items-center font-weight-bold">
                                                <div>
                                                     <i class="fa fa-map-marker mr-1"></i>
                                                    <span>Holguin</span>
                                                </div>
                                            </span>
                                            <div class="d-flex flex-column align-items-end" style="color: #28a745">
                                                <span class="obs h5 mb-0">desde</span>
                                                <div class="">
                                                    <span class="align-middle h1">41,00</span>
                                                    <span class="h5"> USD</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item w-100 row mx-0 sugerencia">
                                <div class="col-md-5 px-0">
                                    <a href="#">
                                        <img class="img-fluid" src="../fancy/img/casas/carballo-maydi-frente.jpg" alt="">
                                    </a>
                                </div>
                                <div class="col-md-7 pr-0">
                                    <div class="d-flex flex-column h-100 justify-content-around">
                                        <span class="h2">
                                            <a href="#" style="color: #212529">Villa Aleyda</a>
                                        </span>
                                        <div class="d-flex flex-row justify-content-between">
                                            <span class="d-flex align-items-center font-weight-bold">
                                                <div>
                                                    <i class="fa fa-map-marker mr-1"></i>
                                                    <span>Holguin</span>
                                                </div>

                                            </span>
                                            <div class="d-flex flex-column align-items-end" style="color: #28a745">
                                                <span class="obs h5 mb-0">desde</span>
                                                <div class="">
                                                    <span class="align-middle h1">41,00</span>
                                                    <span class="h5"> USD</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FIN panel lista casas similares-->

                    <!--INICIO panel lista de casas-->
                    <div class="panel-casas container-fluid px-0  pb-4">
                        <div class="pl-5 bg-danger">
                            <h2 class="text-white">Nuestras Casas</h2>
                        </div>
                        <div class="container-fluid">
                            <ul class="d-flex flex-column my-0">
                                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                                    <a href="#"  style="color: #212529">En la playa</a><span class="text-white">25</span>
                                </li>
                                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                                    <a href="#"  style="color: #212529">Con piscina</a><span class="text-white font-weight-bold">15</span>
                                </li>
                                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                                    <a href="#"  style="color: #212529">Mejor Votadas</a><span class="text-white font-weight-bold">10</span>
                                </li>
                                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                                    <a href="#"  style="color: #212529">Recomendadas</a><span class="text-white ">20</span>
                                </li>
                                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                                    <a href="#"  style="color: #212529">Todas las casas</a><span class="text-white">234</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--FIN panel lista de casas-->
                </div>
            </div>
        </div>
    </div>
</div>