<!--<figure class="effect-oscar">
  <img src="{{casa.imagenes[0].img_link}}" alt="" class="img-responsive"/>
  <figcaption>
    <h2>{{casa.id_casa}} <span>{{casa.tipo_casa}}</span></h2>
    <p>Capacidad: {{casa.capacidad}}</p>
    <p>{{casa.direcc}}</p>
    <a href="works-details.html">View more</a>
  </figcaption>
</figure>-->
<div class="container-fluid capacasa">
    <div class="container namecasa articulosheadhc py-4">
        <h1 class="">Casa Oscar</h1>
        <p class="mb-0">Calle Heredia No. 201 E/ San Pedro Y San Félix., Holguín 90400, Holguín (Cuba)</p>
    </div>
    <div class="container casa px-0">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 px-0">
                    <div class="container-fluid px-0 vista">
                        <div class="container containerhc d-flex justify-content-center px-0">
                            <img class="img-fluid w-100" src="../fancy/img/casas/vista-paseo-vista.jpg">
                            <!--<h1 class="encabezadossechc text-white">La moneda en Cuba</h1>-->
                        </div>
                        <div class="carrete d-flex flex-row pt-2">
                            <div class="item_carrete bg-info">
                                <a href="#">
                                    <div class="imagencarrete1 h-100"></div>
                                    <!--<img class="img-fluid" src="../fancy/img/casas/vista-paseo-room2.2.jpg">-->
                                </a>
                            </div>
                            <div class="item_carrete bg-dark">
                                <a href="#">
                                    <div class="imagencarrete2 h-100"></div>
                                    <!--<img class="img-fluid" src="../fancy/img/casas/ventanales-vedado-coedor.jpg">-->
                                </a>
                            </div>
                            <div class="item_carrete bg-light  ">
                                <a href="#" class="">
                                    <div class="imagencarrete3 h-100"></div>
                                    <!--<img class="img-fluid" src="../fancy/img/casas/ventanales-vedado-comedor1.jpg">-->
                                </a>
                            </div>
                            <div class="item_carrete bg-primary">
                                <a href="#">
                                    <div class="imagencarrete4 h-100"></div>
                                    <!--<img class="img-fluid" src="../fancy/img/casas/95 Habitación 3 Rodne y Laura.jpg">-->
                                </a>
                            </div>
                        </div>
                        <div class="bg-white" style="height: 5rem; margin-top: 1rem">
                            <ul class="d-flex flex-row">
                                <li class="nav-link">2 Habitaciones</li>
                                <li class="nav-link">3 Camas</li>
                                <li class="nav-link">1 Baños</li>
                                <li class="nav-link">5 Huespedes</li>
                            </ul>
                        </div>
                    </div>
                    <div class="container-fluid creativeahc py-3 text-justify">
                        <div class="container containerhc">
                            <div class="contenthc">
                                <p>Casa Oscar es una casa particular de la ciudad de Holguín, Cuba, inaugurado el 22 de octubre de 1999, destinado al alojamiento de dos habitaciones.</p>
                                <p>La casa está ubicada en la Carretera Central, principal vía de acceso a la ciudad, dentro de una notable zona comercial, al lado del Centro Comercial “La Central” y bordeada por sitios de interés como: Plaza La Central (WIFI), Parque Quijote (WIFI), Cajero Automático, Centro de Negocios (Sala de navegación de internet, Agencia COPA Airline, Trimagen), Agencia Renta Car Gaviota Vía, entre otros. A solo 15 minutos de la Estación de Bus Viazul y del centro histórico de la ciudad y de muy fácil acceso desde y hacia el aeropuerto internacional y de las principales ciudades del país.</p>
                                <p>La Casa, de estilo Art Decó, con una superficie de 180 m2, fue construida en segunda planta en el año 1937, con paredes de hormigón, cubierta de vigas de madera y portablas; está integrado de amplios espacios ventilados y bien decorados, marquetería de madera y cristal, con grandes ventanas abatibles de apertura exterior y hermosa vista exterior, su estructura arquitectónica de puntal alto, garantiza una fresca temperatura en su interior.</p>
                                <p>El alojamiento incluye 2 habitaciones con baños privados, terraza al frente, portal, sala, pasillo, comedor, azotea y jardín y oferta de servicios de desayunos, almuerzos y cenas que se sirven en el comedor de la casa.</p>
                                <p>Las habitaciones, espaciosas y confortables dispuestas de camas con colchones de excelente elasticidad y protectores de tela impermeable, ropa de cama pulcra y de calidad, almohadas con relleno sintético y frazadas antialérgicas; mobiliario de madera de diseño clásico, compuesto de mesa de tocador amplio con espejo y banqueta acolchonada, butaca, mesas de noche amplísimas, mueble para mini bar y portamaletas, con agradable iluminación y esmerada limpieza. Cuartos de baños muy bien equipados con agua presurizada y calentador central.</p>
                                <p>Las habitaciones con una reciente decoración fresca y refinada en atractiva combinación con la estructura arquitectónica del inmueble.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 bg-white"></div>
            </div>
        </div>
    </div>
</div>
