<app-banner></app-banner>
<div></div>
<main role="main-inner-wrapper" class="container">
  <div class="row">
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-7 ">
      <article role="pge-title-content">
        <header>
          <h2><span>¿Quiénes somos?</span></h2>
        </header>
        <h2><span>¿Tiene pensado viajar a Cuba y aun no sabe donde hospedarse?</span></h2>
      </article>
    </section>

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
      <article class="about-content">
        <p>Hospedaje en Cuba es una agencia joven y emprendedora enfocada a gestionar reservas de casas privadas para alojamientos turísticos en Cuba, ya sean viajes de negocio o de placer.</p>
        <p>Fundada en Septiembre del 2014, presentamos un servicio destinado a garantizar su privacidad  y confort.</p>
      </article>
    </section>

    <div class="clearfix"></div>

    <div class="thumbnails-pan">
      <section class="col-xs-12 col-sm-4 col-md-4 col-lg-12 ">
        <!--<img src="images/about-images/mapa-cuba copia.jpg" class="img-responsive"/>-->
      </section>
    </div>

    <div class="clearfix"></div>

    <!--<div class="thumbnails-pan">
      <section class="col-xs-12 col-sm-6 col-md-6 col-lg-12">
        <article>
            <h1 class="text-center"><span>¿Por qué rentar con Hospedaje en Cuba?</span></h1>
        </article>
      </section>

      <section class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
        <article class="about-content">
          <p><strong>CONFIANZA:</strong> Certificamos que el 100% de las casas tienen permiso legal para brindar este servicio.</p>
          <p><strong>PRIVACIDAD:</strong> Siéntase seguro de su espacio íntimo y reservado.</p>
          <p><strong>CONFORT:</strong> Estancia agradable, en un ambiente adecuado para su disfrute.</p>
          <p><strong>HOSPITALIDAD:</strong> ¡Como en su casa!, lo atenderán de forma eficiente y personalizada.</p>
          <p><strong>TRANSPORTE:</strong> Servicio de recogida en el aeropuerto (pago) para su traslado a la casa seleccionada.</p>
          <p><strong>OPCIONES:</strong> Ponemos a su disposición un catálogo de casas para su elección.</p>

          <p>En las casas de alquiler usted puede además, tener toda la privacidad que no se tiene en ningún hotel. Por otra parte, si es usted un ser sociable y que le encanta hacer amigos, pues nada mejor que una casa de familia cubana para encontrarlos. En Cuba, la música, la alegría y las relaciones humanas son la finalidad de la vida. Los dueños de una casa particular de alquiler, más que sus anfitriones, serán sus amigos.</p>
        </article>
      </section>
    </div>-->
  </div>
</main>