<app-banner></app-banner>

<div></div>
<div class="container-fluid creativeahc py-5 text-justify">
  <div class="container containerhc">
    <h1 class="encabezadossechc">Preguntas Frecuentes</h1>
    <div class="contenthc">
      <ol class="faqhc">
        <li>
          <p>
            <a href="#faq1" data-toggle="collapse"><span>¿Qué es una casa particular?</span></a>
          </p>
          <div id="faq1" class="collapse">
            Casa u hostal particular en Cuba es el término que se utiliza para denominar establecimiento, casa o apartamento privado a una familia cubana en el cual se ofrece un servicio de alquiler a turistas. Unas ofrecen convivencia directa con la familia cubana, teniendo su habitación con baño privado además de otras comodidades. Otras ofrecen total privacidad, independencia, comodidades y cercanía a sus dueños.
          </div>
        </li>
        <li>
          <p>
            <a href="#faq2" data-toggle="collapse"><span>¿Por qué rentar una casa particular en Cuba?</span></a>
          </p>
          <div id="faq2" class="collapse">
            La mayoría de las personas que viajan a Cuba buscan estar en contacto directo con la naturaleza, las playas, la cultura y la música de la isla, pero principalmente: con Nuestra Gente. Por lo tanto, hospedarse en una casa particular es la mejor manera de estar en contacto directo con los cubanos, recibir su hospitalidad, llegar a conocer cómo viven, cómo son, cómo enfrentan los problemas de la vida diaria.
            Usted puede ahorrar dinero si alquila una casa particular. La mayoría de los alojamientos particulares son más económicos que los Hoteles. Al estar en un alojamiento particular, usted no está obligado a llevar la vida rutinaria que imponen los hoteles en cualquier lugar del mundo, y así usted se siente como en casa.
            En una casa particular a usted se le permite tener invitados o amigos cubanos e incluso se pueden quedar a dormir. Note que los cubanos que invite no pueden ser menores de edad y deben darle su nombre completo así como su número de identidad para ser anotados en el libro de control del propietario del alojamiento (así lo exigen las leyes).
            La casa particular es de carácter familiar, por lo tanto, prevalece la eficiencia y el servicio personalizado.
          </div>
        </li>
        <li>
          <p>
            <a href="#faq4" data-toggle="collapse"><span>¿Cómo puedo saber si una casa o apartamento está autorizada para alquilar?</span></a>
          </p>
          <div id="faq4" class="collapse">
            Los apartamentos y casas legales tienen junto a la entrada, un distintivo de referencia parecida una casa grande a la entrada y cuentan con un libro oficial de registro, como en los hoteles, donde usted deberá firmar. Este libro lo deben de llevar los dueños de la casa a las autoridades de Inmigración tan pronto lo llenan.
            No es conveniente alojarse en casas no autorizadas, pues ello se considera un grave quebramiento de la ley (incluso alojarse en la casa de la novia/o) y usted puede tener problemas con las autoridades.
          </div>
        </li>
        <li>
          <p>
            <a href="#faq5" data-toggle="collapse"><span>¿Tendré que compartir áreas comunes de la casa o apartamento con los arrendadores u otros turistas ?</span></a>
          </p>
          <div id="faq5" class="collapse">
            Si usted desea tener total privacidad Hospedaje en Cuba puede ofertarle habitaciones y apartamentos con total independencia. Sin embargo, se debe de aclarar que estas habitaciones o apartamentos están dentro o pertenecen a la propiedad donde su arrendador vive. En este caso, usted tendrá entrada independiente a su habitación y raramente tendrá que compartir algún área común con los arrendadores u otros turistas. No se permite arrendar una propiedad en su totalidad, debido a que así lo establecen las Regulaciones Estatales para la actividad de arrendamiento.
          </div>
        </li>
        <li>
          <p>
            <a href="#faq6" data-toggle="collapse"><span>¿Si viajamos un grupo grande, cómo podemos quedar todos juntos en un mismo lugar?</span></a>
          </p>
          <div id="faq6" class="collapse">
            No hay problema Hospedaje en Cuba cuenta con una amplia red de casas y apartamentos. Podemos reservarles en un mismo edificio o en un bloque de casas conjuntas o cercanas, donde arrienden varios apartamentos. Estamos en condiciones de alojarlos a todos en un radio de 100 metros.
          </div>
        </li>
        <li>
          <p>
            <a href="#faq7" data-toggle="collapse"><span>¿Al llegar al aeropuerto, me espera alguien allí?</span></a>
          </p>
          <div id="faq7" class="collapse">
            Si Ud se lo solicita, los dueños de la casa en que Ud reserve se encargarán de esperarlo en el aeropuerto. No obstante, el costo del viaje del aeropuerto a la casa correrá por Ud.
          </div>
        </li>
        <li>
          <p>
            <a href="#faq8" data-toggle="collapse"><span>¿Si viajamos con un niño pequeño, tendrían condiciones apropiadas para un bebé?</span></a>
          </p>
          <div id="faq8" class="collapse">
            Si, algunas de las casas con las que tenemos conexiones están preparadas para recibir parejas con niños pequeños. En estas casas Ud. podrá comprobar por sí mismo las impecables condiciones de higiene y confort requeridas para el buen cuidado de su bebé.
          </div>
        </li>
        <li>
          <p>
            <a href="#faq9" data-toggle="collapse"><span>¿Me preguntan algo en la aduana?</span></a>
          </p>
          <div id="faq9" class="collapse">
            Al llegar al aeropuerto, Ud debe tener los datos de la casa donde se va a hospedar (dirección y nombre del propietario). Nosotros le enviaremos esta información.
          </div>
        </li>
        <li>
          <p>
            <a href="#faq10" data-toggle="collapse"><span>¿Es necesario llevar Boucher a la hora de arribar a Cuba?</span></a>
          </p>
          <div id="faq10" class="collapse">
            Es suficiente con dar el nombre de la casa particular donde se hospedará y su dirección. Inmigración tiene relación de todas las casas legales y pueden comprobar que se aloja donde ha dicho.
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>

