<header role="header">
  <div class="container">
    <!-- logo -->
    <h1>
      <a href="index.html" title="Hospedaje en Cuba"><img src="images/pagLogoF.png" title="Hospedaje en Cuba" alt="Hospedaje en Cuba"/></a>
    </h1>
    <!-- logo -->
    <!-- nav -->
    <nav role="header-nav" class="navy">
      <ul>
        <li class="nav-active"><a href="index.html" title="Alojamientos">Alojamientos</a></li>
        <li><a href="index.html" title="Paquetes Tur&iacute;sticos">Paquetes Tur&iacute;sticos</a></li>
        <li><a href="index.html" title="Transporte">Transporte</a></li>
        <li><a href="about.html" title="Quienes Somos">Quienes Somos</a></li>
        <li><a href="blog.htmlabout.html" title="Preguntas Frecuentes">Preguntas Frecuentes</a></li>
        <li><a href="http://www.hospedajencuba.wordpress.com" title="Blog">Blog</a></li>
        <li><a href="contact.html" title="Contact">Contacto</a></li>
      </ul>
    </nav>
    <!-- nav -->
  </div>
</header>