/**Fondos**/
body{
    /*background-color: #8c8c8c;*/
}
.sliderhc, .bannerhc{
    background: url('../img/banner.jpg');
    height: 80vh;
    background-position: center;
    background-size: cover;
}

.bannerlistahc{
    background: url('../img/bannera.jpg');
    background-position: top;
    background-size: cover;
}

.img_latest_news_areahc{
    width: 100vh;
    height: 25vh;
    /*border-radius: 6px;*/
}
.slidercapahc, .bannercapahc{
    background-color: rgba(0,0,0,.5);
    height: 80vh;
}
.bannerhc, .bannercapahc{
    height: 30vh;
}
.slidercapahc h1, .bannercapahc h1{
    font-size: 5rem;
}
.slidercapahc p, h1.encabezadossechc p, h1.encabezadossechc{
    font-size: 3rem;
}
.creativeahc, .capacasa{
    background-color: #f7f7f7;
    box-sizing: border-box;
}
.creativebhc{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 25px 49px 0px rgba(58, 74, 88, 0.1);
    margin-top: -100px !important;
    /*margin-top: -70px !important;*/
    z-index: 22;
    position: relative;
}
.latest_news_areahc{
    border: 1px solid #ebebeb;
    background-color: white;
    border-radius: 0px 0px 50px 0px;
}
.foothc{
    /*background-color: rgba(19,22,39,.5);*/
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: white;
}
.foothc ul {
    padding: 0;
}
.foothc img{
    background-position: center;
}

/**Fondos**/

.navbarhc, .navbardownhc{
    border-bottom: 1px solid #626571;
    background: rgba(0,0,0,.20);
}
.navbarhc.navbar{
    text-align: right;
}
.navbardownhc{
    background: rgba(0,0,0,.75);
}




/**Vinculos**/
li.nav-item a:hover, a:hover, a span:hover{
    color: #2bc0a4 !important;
    text-decoration: none;
}

li.nav-item .navbardownhc a{
     color: #2bc0a4!important;
}

li.nav-item .navbardownhc a:hover{
    background-color: unset;
    color: white!important;
}
li.nav-item a, .foothc .socialiconhc a{
    font-weight: bolder;
    font-size: 1.4rem;
    color: white!important;
}



.foothc .socialiconhc a{
    color: #bbbbbb!important;
}
.icon_search, .foothc{
    font-weight: bolder;
    font-size: 2rem;
}
.foothc a, a span{
    color: #343a40;
}
.foothc .socialiconhc a, .followus .socialiconhc a{
    display: block;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    border-radius: 100%;
    text-align: center;
    font-size: 2rem;
}
.followus .socialiconhc a{
    background-color: #51545f;
    color: white !important;
}
.foothc .socialiconhc a:hover, .followus .socialiconhc a:hover{
    background-color: #2bc0a4;
    color: white !important;
}
#prueba{
    height: 50px;
    width: 50px;
    background-color: yellow;
}
h4{
    font-size: 1.90rem;
}
p, .contenthc{
    font-size: 1.5rem;
    color: #51545f;
}

.containerhc {
    max-width: 95rem;
    line-height: 2;
}
.creativebhc{
    max-width: 120rem;
}

div.copy_right_area{
    border-top: 1px solid #bbbbbb;
    padding-top: 1rem;

}

#box_itemhc:before{
    content: "";
    background: #e5e5e5;
    height: 180px;
    width: 1.6px;
    position: absolute;
    right: 0px;
    top: 40px;
}

ol.faqhc{
   margin-top: 1.5rem;
}
.faqhc li{
    margin-bottom: 1rem;
    padding-left: 1rem;
}
.faqhc a{
    font-weight: bold;
}

.form-control{
    font-size: 1.6rem;
}
.dashdhc, .articulosA .item, .casa .vista, .masinfo, .panelderitem{
    border-bottom: 2px solid rgba(0,0,0,.2);
    box-shadow: 0px 25px 49px 0px rgba(58, 74, 88, 0.1);
}
/*.articulosA .item .row{
    border-right: 2px solid rgba(0,0,0,.2);
    box-shadow: 0px 25px 49px 0px rgba(58, 74, 88, 0.1);
}*/
.dashanc{
    width: 80%;
}
.sep{
    height: 4vh;
}
.articulos{
    width: 120rem;
}
.img1{
    background: url('../img/articulos/1445334837_cuba4.jpg');
}
.img2{
     background: url('../img/articulos/cayo_largo_-_playa_sirena.jpg');
}
.img3{
    background: url('../img/articulos/catedral_de_santiago_de_cuba.jpg');
}
.img4{
    background: url('../img/articulos/1434126870_924998_1434133391_noticia_normal.jpg');
}
.img5{
    background: url('../img/articulos/parque-el-morro-santiago-cu.jpg');
}

.img2, .img3, .img4, .img5{
    height: 30vh;
}

.img1{
    height: 64vh;
}

.articulohc{
    width: 100%;
    background-position: center;
    background-size: cover;
}
.dashanc a, .dashanc a:hover{
    color: white!important;
}
.imgdescriphc{
    width: 93%;
    background-color: rgba(0,0,0,.4);
}

.articulosheadhc h1{

}
.articulosheadhc{
    border-bottom: 2px dashed #e8e8e8;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    border-bottom-color: rgb(232,232,232);
}

.articulosA .item{
    /*max-height: 50%;
    padding: 1rem;*/
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.articulosA .item img{
    /*height: 100%;
    max-height: 50%;*/
}

.articulosA .item, .panelderitem{
    background-color: #f7f7f7;

}
.articulosA .item div:first-child{
    padding: 0;
}

.leermas{
    //padding-top: 10vh;
}

.artA{
    height: 55vh;
}
.casa, .namecasa{
    /*max-width: 130rem;*/
    max-width: 100rem;
}
.carrete{
    height: 13vh;
}
.item_carrete{
    width: 266.6px;
}
.casa img{
    vertical-align: center;
}
.imagencarrete1{
    background: url('../img/casas/vista-paseo-room2.2.jpg');
}
.imagencarrete2{
    background: url('../img/casas/ventanales-vedado-coedor.jpg');
}
.imagencarrete3{
    background: url('../img/casas/ventanales-vedado-comedor1.jpg');
}
.imagencarrete4{
    background: url('../img/casas/95 Habitación 3 Rodne y Laura.jpg');
}
.imagencarrete1, .imagencarrete2, .imagencarrete3, .imagencarrete4{

    background-position: center;
    background-size: cover;
}

.casa{
    /*background-color: white;
    border-radius: 4px;
    box-shadow: 0px 25px 49px 0px rgba(58, 74, 88, 0.1);*/
}

.precio span.obs{
    font-size: 1.5rem;
 }
.precio{
    background-color: rgba(0,145,209,.2);
    border-bottom: 2px solid rgba(0,145,209,.2);
    box-shadow: 4px 7px 20px 0px rgba(0,145,209,.2);
    /*border-radius: 1.25rem;
    box-shadow: 0px 25px 49px 0px rgba(58, 74, 88, 0.1);*/
}
.precio .display-4{
    font-weight: 500;
}
/*.precio h1 span{
    font-size: 50%;
}*/

.panel-casas li{
    font-size: 1.5rem;
    width: 210px;
}
.masinfo .rotulo{
    background-color: rgba(0,145,209,.1);
    border-top: solid 3px rgba(0,145,209,.2);


}
.masinfo .rotulo, .casa .details{
    padding: 0.5rem 1.5rem;
}
.casa li .etiqueta{
    background-color: rgba(0,145,209,.2);
    width: 100%;
    padding: 3px 10px;
    border-radius: 25px;
    text-align: center;
    border-bottom: solid rgba(0,145,209,.2);
    box-shadow: 4px 7px 20px 0px rgba(0,145,209,.2);
}

.casa .descripcion .fa{
    font-size: smaller;
}
.casa .details .fa{
    font-size: 3rem;
}
.masinfo{
    margin-bottom: 2rem;
    /*box-shadow: 4px 7px 20px 0px rgba(0,145,209,.2);*/
}
.casa table, .casa button, .table-condensed{
    font-size: 1.6rem;
}
.table td{
    vertical-align: unset;
}
.areaa, .areab{
    /*margin: 0rem 1rem;*/
}
.envoltorio{
    /*flex-wrap: unset;*/
}
.sugerencia{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 1px rgba(0,0,0,.2);
}
.casa img{
/*max-height: 44%;*/
}
.panel-casas li span{
    border-radius: 0.3rem;
    padding: 1px 6px;
    background-color: #28a745;
    font-size: 1.2rem;
    font-weight: bold;
}

.panel-casas li.nav-link{
    padding: 0px;
}

.price{
    z-index: 50;
    position: absolute;
    padding: .5rem 1rem;
    width: max-content;
    min-width: max-content;
    background-color: rgba(52, 58, 64, 0.5);
    box-shadow: -2px 2px 0px rgba(0,0,0,0.3);
    font-weight: bold;
    text-shadow: 4px 1px 2px #000;
    border-radius: 50px 0px;
    border-bottom: 2px solid rgba(0,145,209,.7);
}

.descipcioncasa{
    padding: 0.2rem 1rem;
    border-radius: 50px 0px;
    border-bottom: 2px solid rgba(0,145,209,.7);
    /*border-radius: 25px;
    border-bottom: solid rgba(0,145,209,.2);*/
}
span.h6{
    margin-bottom: 1rem;
}
.price span{
    color: white;
}
.price span.imp{

    font-size: 1.6rem;
}

.dashcasasA{
    flex: 77%;
    max-width: 77%;
}

.dashcasasB{
    flex: 23%;
    max-width: 23%;
}

.p-izq-col-5{
    flex: 20%;
    max-width: 20%;
}

.datepicker td, .datepicker th, .datepicker td span{
    padding: 0.3rem 0.5rem;
    /*border-radius: 4px;
    text-align: center;*/
}
.datepicker td span{
    /*width: max-content!important;*/
}

.headcalendar{
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0.75rem;
}

.datepicker .datepicker-switch:hover{
    background: unset!important;
    cursor: auto;
}