<!--INICIO vista listado de articulos-->
<div class="container-fluid articulosA">
  <div class="articulosheadhc py-5">
    <h1 class="text-center text-uppercase">Conozca cada Provincia</h1>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <div class="container-fluid">

          <div class="item w-100 row">
            <div class="col-md-12 col-lg-3">
              <a [routerLink]="['/art/a/1']">
                <img class="img-fluid" src="../fancy/img/articulos/Cuba-dinero.jpg" alt="">
              </a>
            </div>
            <div class="col-md-12 col-lg-9 px-5 py-3">
              <h1>La moneda en Cuba</h1>
              <p>
                En Cuba circulan dos monedas. La moneda oficial es el peso cubano (CUP), sin embargo el 99% de las ocasiones todas las compras y los servicios se realizan en Pesos Cubanos Convertibles (CUC) equivale al dólar americano. Puede cambiarse a pesos cubanos convertibles (CUC) en hoteles, aeropuertos, bancos y en las Casas de Cambio (CADECA S.A.).
              </p>
              <div class="d-flex flex-row justify-content-end leermas">
                <a [routerLink]="['/art/a/1']" class="btn btn-lg btn-dark">Leer Mas</a>
              </div>
            </div>
          </div>

          <div class="item w-100 row">

            <div class="col-md-12 col-lg-3">
              <a [routerLink]="['/art/a/1']">
                <img class="img-fluid" src="../fancy/img/articulos/Cuba-dinero.jpg" alt="">
              </a>
            </div>
            <div class="col-md-12 col-lg-9 px-5 py-3">
              <h1>La moneda en Cuba</h1>
              <p>
                En Cuba circulan dos monedas. La moneda oficial es el peso cubano (CUP), sin embargo el 99% de las ocasiones todas las compras y los servicios se realizan en Pesos Cubanos Convertibles (CUC) equivale al dólar americano. Puede cambiarse a pesos cubanos convertibles (CUC) en hoteles, aeropuertos, bancos y en las Casas de Cambio (CADECA S.A.).
              </p>
              <div class="d-flex flex-row justify-content-end leermas">
                <a [routerLink]="['/art/a/1']" class="btn btn-lg btn-dark">Leer Mas</a>
              </div>
            </div>

          </div>

          <div class="item w-100 row">
            <div class="col-md-12 col-lg-3">
              <a [routerLink]="['/art/a/1']">
                <img class="img-fluid" src="../fancy/img/articulos/delfuego_001-660x495.jpg" alt="">
              </a>
            </div>
            <div class="col-md-12 col-lg-9 px-5 py-3">
              <h1>La Fiesta del Fuego en Santiago de Cuba</h1>
              <p>
                La Fiesta del Fuego con sede en Santiago de Cuba es una gran fiesta popular anual de la danza y folklore. Este coloquio internacional que se realiza en el mes de julio, en esta ciudad del Caribe, comprende conferencias, paneles y talleres académicos que versan sobre las distintas expresiones culturales de la región.
              </p>
              <div class="d-flex flex-row justify-content-end leermas">
                <a [routerLink]="['/art/a/1']" class="btn btn-lg btn-dark">Leer Mas</a>
              </div>
            </div>
          </div>

          <div class="item w-100 row">
            <div class="col-md-12 col-lg-3">
              <a [routerLink]="['/art/a/1']">
                <img class="img-fluid" src="../fancy/img/articulos/delfuego_001-660x495.jpg" alt="">
              </a>
            </div>
            <div class="col-md-12 col-lg-9 px-5 py-3">
              <h1>La Fiesta del Fuego en Santiago de Cuba</h1>
              <p>
                La Fiesta del Fuego con sede en Santiago de Cuba es una gran fiesta popular anual de la danza y folklore. Este coloquio internacional que se realiza en el mes de julio, en esta ciudad del Caribe, comprende conferencias, paneles y talleres académicos que versan sobre las distintas expresiones culturales de la región.
              </p>
              <div class="d-flex flex-row justify-content-end leermas">
                <a [routerLink]="['/art/a/1']" class="btn btn-lg btn-dark">Leer Mas</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="container pb-4">
          <div class="panel-casas container-fluid px-0">
            <div class="bg-danger pl-5">
              <h2 class="text-white">Nuestras Casas</h2>
            </div>
            <div class="container-fluid">
              <ul class="d-flex flex-column my-0">
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">En la playa</a><span class="text-white">25</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Con piscina</a><span class="text-white font-weight-bold">15</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Mejor Votadas</a><span class="text-white font-weight-bold">10</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Recomendadas</a><span class="text-white ">20</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Todas las casas</a><span class="text-white">234</span>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="container pb-4">
          <div class="panel-casas container-fluid px-0">
            <div class="bg-danger pl-5">
              <h2 class="text-white">Destinos Turstísticos</h2>
            </div>
            <div class="container-fluid">
              <ul class="d-flex flex-column my-0">
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Destinos Coloniales</a><span class="text-white">25</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Destinos de Ciudad</a><span class="text-white font-weight-bold">15</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Destinos de Naturaleza</a><span class="text-white font-weight-bold">10</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Destinos de Playa</a><span class="text-white ">20</span>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="container pb-4">
          <div class="panel-casas container-fluid px-0">
            <div class="bg-danger pl-5">
              <h2 class="text-white">Le recomendamos consultar</h2>
            </div>
            <div class="container-fluid">
              <ul class="d-flex flex-column my-0">
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Conozca cada Provincia</a><span class="text-white">25</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Consejos a su llegada</a><span class="text-white font-weight-bold">15</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="/faq"  style="color: #212529">Preguntas frecuentes</a><span class="text-white font-weight-bold">10</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Informacion útil</a><span class="text-white ">20</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="/aboutus"  style="color: #212529">Contacto</a><span class="text-white ">20</span>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="container pb-4">
          <div class="panel-casas container-fluid px-0">
            <div class="bg-danger pl-5">
              <h2 class="text-white">Alojamientos en Cuba</h2>
            </div>
            <div class="container-fluid">
              <ul class="d-flex flex-column my-0">
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Artemisa</a><span class="text-white">25</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Camaguey</a><span class="text-white font-weight-bold">15</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Ciego de Avila | Moron</a><span class="text-white font-weight-bold">10</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Cienfuegos</a><span class="text-white ">20</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Granma | Bayamo</a><span class="text-white font-weight-bold">15</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Guantanamo | Baracoa</a><span class="text-white font-weight-bold">10</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Holguin</a><span class="text-white ">20</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Isla de la Juventud</a><span class="text-white ">20</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">La Habana</a><span class="text-white font-weight-bold">15</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Las Tunas</a><span class="text-white font-weight-bold">10</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Matanzas | Varadero</a><span class="text-white ">20</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Mayabeque</a><span class="text-white ">20</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Pinar del Rio | Viñales</a><span class="text-white ">20</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Santi Spiritus | Trinidad</a><span class="text-white font-weight-bold">15</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Santiago de Cuba</a><span class="text-white font-weight-bold">10</span>
                </li>
                <li class="nav-link d-flex flex-row justify-content-between align-items-baseline w-100">
                  <a href="#"  style="color: #212529">Villa Clara | Santa Clara</a><span class="text-white ">20</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--FIN vista listado de articulos-->
