<app-banner></app-banner>

<!--<div class="container-fluid creativeahc py-5 text-justify">
    <div class="container containerhc">
        <h1 class="encabezadossechc">¿Cómo reservar?</h1>
        <div class="contenthc">
            <p>Reservar en nuestra web es muy sencillo.</p>
            <p>Primeramente Ud. debe seleccionar una casa particular de su preferencia, o varias. Para esto brindamos al cliente varias opciones. La primera, y mas rápida es visitando nuestro buscador de casas ,en el cual podrá seleccionar las características que Ud. desea que para su alojamiento, así como el precio y la ubicación del mismo. Otra vía para escoger una casa es seleccionando la localidad que Ud. quiera visitar, donde  aparecerá nuestro catálogo de hospedaje. También puede verlas agupadas en clasificaciones como (casa en la plaaya, con piscina, recomendadas). O sin más solicitar su alojamiento a la medida, llenando un formulario por el cual le haremos llegar nuestras propuestas.</p>
            <p>Una vez que halla seleccionado al menos una casa, deberá rellenar un sencillo formulario de reservación que aparece  al final de la descripción de la casa, en el cual solo deberá especificar los datos necesarios para establecer una comunicación entre Ud. y el propietario de la casa. A este formulario también se accede mediante el vínculo de Reserva. Tenga presente siempre entrar correctamente los datos.</p>
            <p>Al momento de realizar la reservación, se le enviará un email al propietario del hostal que Ud. ha seleccionado en el cual aparecerán los datos de la reservación, de la misma forma Ud. recibirá otro email notificando si está disponible y con todos los datos del hospedaje, incluyendo la dirección, nombre del propietario, forma de conctacto, fechas de estancia, precios, etc.</p>
            <p>Tenga en cuenta que si viaja en grupo no es un problema HospedajenCuba cuenta con una amplia red de casas y apartamentos. Podemos reservarles en un mismo edificio o en un bloque de casas conjuntas o cercanas, donde arrienden varios apartamentos.</p>
            <p>Ud. podrá contactarnos para aclarar cualquier duda o inquietud que tenga con respecto a su viaje a Cuba. Para ello sólo debe acceder a nuestro formulario de <a href="/contacto" target="_blank">contacto</a>.</p>
            <p>Estamos covencidos de que será una estancia inolvidable y con el deseo de volver.</p>
            <p>Atentamente.</p>
            <p>Equipo <b>HospedajenCuba</b></p>
        </div>
    </div>
</div>-->

<app-hospedaje></app-hospedaje>