<h1 class="pt-5 pb-3">Top Casas</h1>
<div class="row">
  <!--<div class="col-md-2">
  <div class="d-flex flex-row justify-content-end">
    <div class="price">
      <div class="d-flex flex-column align-items-end">
        <span class="obs  mb-0">desde</span>
        <div class="">
          <span class="align-middle imp">41,00</span>
          <span class=""> USD</span>
        </div>
      </div>
    </div>
    <a href="#">
      <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/carballo-maydi-frente.jpg">
    </a>
  </div>
  <div class=" latest_news_areahc d-flex flex-row align-items-end">
    <div class="d-flex flex-column mx-4">
      <h3>Casa Vitral</h3>
      <span class="h6 text-uppercase"><span class="descipcioncasa">2 Habitaciones</span><span class="descipcioncasa">5 Huespedes</span></span>
      <div class="h5">
        <i class="fa fa-map-marker mr-1"></i>
        <span>Isla de la Juventud</span>
      </div>
    </div>
  </div>
</div>

  <div class="col-md-2">
    <div class="d-flex flex-row justify-content-end">
      <div class="price">
        <div class="d-flex flex-column align-items-end">
          <span class="obs  mb-0">desde</span>
          <div class="">
            <span class="align-middle imp">41,00</span>
            <span class=""> USD</span>
          </div>
        </div>
      </div>
      <a href="#">
        <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/haydee-fachada.jpg">
      </a>
    </div>
    <div class=" latest_news_areahc d-flex flex-row align-items-end">
      <div class="d-flex flex-column mx-4">
        <h3>Casa Evelyn</h3>
        <span class="h6 text-uppercase"><span class="descipcioncasa">2 Habitaciones</span><span class="descipcioncasa">5 Huespedes</span></span>
        <div class="h5">
          <i class="fa fa-map-marker mr-1"></i>
          <span>La Habana</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="d-flex flex-row justify-content-end">
      <div class="price">
        <div class="d-flex flex-column align-items-end">
          <span class="obs  mb-0">desde</span>
          <div class="">
            <span class="align-middle imp">41,00</span>
            <span class=""> USD</span>
          </div>
        </div>
      </div>
      <a href="#">
        <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/maribel-habitacion-azul.jpg">
      </a>
    </div>
    <div class=" latest_news_areahc d-flex flex-row align-items-end">
      <div class="d-flex flex-column mx-4">
        <h3>Villa Lunamar</h3>
        <span class="h6 text-uppercase"><span class="descipcioncasa">2 Habitaciones</span><span class="descipcioncasa">5 Huespedes</span></span>
        <div class="h5">
          <i class="fa fa-map-marker mr-1"></i>
          <span>La Habana</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="d-flex flex-row justify-content-end">
      <div class="price">
        <div class="d-flex flex-column align-items-end">
          <span class="obs  mb-0">desde</span>
          <div class="">
            <span class="align-middle imp">41,00</span>
            <span class=""> USD</span>
          </div>
        </div>
      </div>
      <a href="#">
        <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/la-ceiba-salacomedor_0.jpg">
      </a>
    </div>
    <div class=" latest_news_areahc d-flex flex-row align-items-end">
      <div class="d-flex flex-column mx-4">
        <h3>Hostal Gina y Francis</h3>
        <span class="h6 text-uppercase"><span class="descipcioncasa">2 Habitaciones</span><span class="descipcioncasa">5 Huespedes</span></span>
        <div class="h5">
          <i class="fa fa-map-marker mr-1"></i>
          <span>La Habana</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="d-flex flex-row justify-content-end">
      <div class="price">
        <div class="d-flex flex-column align-items-end">
          <span class="obs  mb-0">desde</span>
          <div class="">
            <span class="align-middle imp">41,00</span>
            <span class=""> USD</span>
          </div>
        </div>
      </div>
      <a href="#">
        <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/la-ceiba-salacomedor_0.jpg">
      </a>
    </div>
    <div class=" latest_news_areahc d-flex flex-row align-items-end">
      <div class="d-flex flex-column mx-4">
        <h3>Hostal Aguada</h3>
        <span class="h6 text-uppercase"><span class="descipcioncasa">2 Habitaciones</span><span class="descipcioncasa">5 Huespedes</span></span>
        <div class="h5">
          <i class="fa fa-map-marker mr-1"></i>
          <span>Santiago de Cuba</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="d-flex flex-row justify-content-end">
      <div class="price">
        <div class="d-flex flex-column align-items-end">
          <span class="obs  mb-0">desde</span>
          <div class="">
            <span class="align-middle imp">41,00</span>
            <span class=""> USD</span>
          </div>
        </div>
      </div>
      <a href="#">
        <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/la-ceiba-salacomedor_0.jpg">
      </a>
    </div>
    <div class=" latest_news_areahc d-flex flex-row align-items-end">
      <div class="d-flex flex-column mx-4">
        <h3>Casa Tolosa</h3>
        <span class="h6 text-uppercase"><span class="descipcioncasa">2 Habitaciones</span><span class="descipcioncasa">5 Huespedes</span></span>
        <div class="h5">
          <i class="fa fa-map-marker mr-1"></i>
          <span>La Habana</span>
        </div>
      </div>
    </div>
  </div>-->

  <div class="col-md-2 p-izq-col-5">
    <div class="d-flex flex-row justify-content-end">
      <div class="price">
        <div class="d-flex flex-column align-items-end">
          <span class="obs  mb-0">desde</span>
          <div class="">
            <span class="align-middle imp">41,00</span>
            <span class=""> USD</span>
          </div>
        </div>
      </div>
      <a [routerLink]="['/reservar']" target="_blank">
        <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/carballo-maydi-frente.jpg">
      </a>
    </div>
    <div class=" latest_news_areahc d-flex flex-row align-items-end">
      <div class="d-flex flex-column mx-4">
        <h3>Casa Vitral</h3>
        <span class="h6 text-uppercase"><span class="descipcioncasa">2 Habitaciones</span><span class="descipcioncasa">5 Huespedes</span></span>
        <div class="h5">
          <i class="fa fa-map-marker mr-1"></i>
          <span>Isla de la Juventud</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2 p-izq-col-5">
    <div class="d-flex flex-row justify-content-end">
      <div class="price">
        <div class="d-flex flex-column align-items-end">
          <span class="obs  mb-0">desde</span>
          <div class="">
            <span class="align-middle imp">41,00</span>
            <span class=""> USD</span>
          </div>
        </div>
      </div>
      <a href="#">
        <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/haydee-fachada.jpg">
      </a>
    </div>
    <div class=" latest_news_areahc d-flex flex-row align-items-end">
      <div class="d-flex flex-column mx-4">
        <h3>Casa Evelyn</h3>
        <span class="h6 text-uppercase"><span class="descipcioncasa">2 Habitaciones</span><span class="descipcioncasa">5 Huespedes</span></span>
        <div class="h5">
          <i class="fa fa-map-marker mr-1"></i>
          <span>La Habana</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2 p-izq-col-5">
    <div class="d-flex flex-row justify-content-end">
      <div class="price">
        <div class="d-flex flex-column align-items-end">
          <span class="obs  mb-0">desde</span>
          <div class="">
            <span class="align-middle imp">41,00</span>
            <span class=""> USD</span>
          </div>
        </div>
      </div>
      <a href="#">
        <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/maribel-habitacion-azul.jpg">
      </a>
    </div>
    <div class=" latest_news_areahc d-flex flex-row align-items-end">
      <div class="d-flex flex-column mx-4">
        <h3>Villa Lunamar</h3>
        <span class="h6 text-uppercase"><span class="descipcioncasa">2 Habitaciones</span><span class="descipcioncasa">5 Huespedes</span></span>
        <div class="h5">
          <i class="fa fa-map-marker mr-1"></i>
          <span>La Habana</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2 p-izq-col-5">
    <div class="d-flex flex-row justify-content-end">
      <div class="price">
        <div class="d-flex flex-column align-items-end">
          <span class="obs  mb-0">desde</span>
          <div class="">
            <span class="align-middle imp">41,00</span>
            <span class=""> USD</span>
          </div>
        </div>
      </div>
      <a href="#">
        <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/la-ceiba-salacomedor_0.jpg">
      </a>
    </div>
    <div class=" latest_news_areahc d-flex flex-row align-items-end">
      <div class="d-flex flex-column mx-4">
        <h3>Hostal Gina y Francis</h3>
        <span class="h6 text-uppercase"><span class="descipcioncasa">2 Habitaciones</span><span class="descipcioncasa">5 Huespedes</span></span>
        <div class="h5">
          <i class="fa fa-map-marker mr-1"></i>
          <span>La Habana</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2 p-izq-col-5">
    <div class="d-flex flex-row justify-content-end">
      <div class="price">
        <div class="d-flex flex-column align-items-end">
          <span class="obs  mb-0">desde</span>
          <div class="">
            <span class="align-middle imp">41,00</span>
            <span class=""> USD</span>
          </div>
        </div>
      </div>
      <a href="#">
        <img class="img-fluid img_latest_news_areahc" src="../fancy/img/casas/la-ceiba-salacomedor_0.jpg">
      </a>
    </div>
    <div class=" latest_news_areahc d-flex flex-row align-items-end">
      <div class="d-flex flex-column mx-4">
        <h3>Hostal Aguada</h3>
        <span class="h6 text-uppercase"><span class="descipcioncasa">2 Habitaciones</span><span class="descipcioncasa">5 Huespedes</span></span>
        <div class="h5">
          <i class="fa fa-map-marker mr-1"></i>
          <span>Santiago de Cuba</span>
        </div>
      </div>
    </div>
  </div>
</div>